.module {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .module-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  
  .module-subtitle {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .module-content {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    overflow-wrap: break-word;
  }
  .module-container {
    margin-bottom: 20px;
  }
  body{
    font-family: Montserrat,Almarai,Tahoma,Sans-Serif;
  }

  .home{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    line-height: 92px;
    padding: 100px 0px 30px 0px;
    opacity: 100%;
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    min-height: 10px;
    min-width: 16px;
    position: relative;
    max-width: 900px;
  }


  