.module {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .module-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
  }
  
  .module-subtitle {
    font-size: 16px;
    margin: 0 0 20px;
  }
  
  .module-content {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    overflow-wrap: break-word;
  }
  .module-container {
    margin-bottom: 20px;
  }
  body{
    font-family: Montserrat,Almarai,Tahoma,Sans-Serif;
  }

  