<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" *ngFor="let element of elements">

          <div *ngIf="element.isDropDown; else elseBlock">
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" (click)="sendIdToParent(element.referenced_page,'/'+element.name)"[routerLink]="['']" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ element.name }}</a>

              <div *ngFor="let elem of element.drop_down_elements">
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01" >
                  <a ngbDropdownItem class="dropdown-item" (click)="sendIdToParent(elem.referenced_page,'/'+elem.name)"[routerLink]="['']" >{{ elem.name }}</a>
                </div>
            </div>
            </li>
          </div>

          <ng-template #elseBlock>
            <li class="nav-item">
            <a class="nav-link" (click)="sendIdToParent(element.referenced_page,'/'+element.name)"[routerLink]="['']" >{{ element.name }}</a>
          </li>
          </ng-template>
        </ul>
      </div>

    </div>
  </nav> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <ng-container *ngFor="let element of elements">
            <!-- if element is drop down menu -->
            <div *ngIf="element.isDropDown; else elseBlock">  
              <li ngbDropdown class="nav-item dropdown" (mouseover)="element.isHovered = true" (mouseout)="element.isHovered = false" [class.show]="element.isHovered">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" (click)="sendIdToParent(element.referenced_page,'/'+element.name)" [routerLink]="['']" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ element.name }}</a>               
                  <div ngbDropdownMenu class="dropdown-menu">
                    <div *ngFor="let elem of element.drop_down_elements">
                      <a ngbDropdownItem class="dropdown-item" (click)="sendIdToParent(elem.referenced_page,'/'+elem.name)" [routerLink]="['']">{{ elem.name }}</a>
                    </div>
                  </div>
              </li>
            </div>
            <!-- if element is normal link -->
            <ng-template #elseBlock>
              <li class="nav-item">
                <a class="nav-link" (click)="sendIdToParent(element.referenced_page,'/'+element.name)" [routerLink]="['']">{{ element.name }}</a>
              </li>
            </ng-template>
          </ng-container>
        </ul>
      </div>

    </div>
  </nav>