<section class="p-4 d-flex justify-content-center  w-100">
    <div *ngFor="let card of childrenPages">
        <div class="ps-3">
            <div class="card" style="max-width: 22rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img [src]=" 'assets/images/' + card.cover_image_url " class="card-img-top">
                    <a href="#!">
                    <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">
                      {{card.short_description}}
                    </p>
                    <a class="btn btn-primary" (click)="sendIdToParent(card.id,'/'+ displayPage.title +'/'+card.title)" [routerLink]="['']">Learn more</a>
                </div>
            </div>
        </div>
    </div>
  </section>

  

  