<section class="p-4 d-flex justify-content-center  w-100">
    <div *ngFor="let card of childrenPages">
        <div class="ps-3">
            <div class="card" style="max-width: 22rem;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="Beach Sunrise">
                    <a href="#!">
                    <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ps-3">
        <div class="card" style="max-width: 22rem;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="Beach Sunrise">
            <a href="#!">
                <div class="mask"></div>
            </a>
            </div>
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
  </section>

  
<!-- 
  <section class="p-3 text-center w-100">
    <div class="row row-cols-1 row-cols-md-5 g-3">
      <div class="col">
        <div class="card h-100">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  

  